<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyDrugs | FAQ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="icon" href="./static/img/logos/logo_white.png">
</head>

<body data-bs-theme="dark">
    <nav class="navbar navbar-expand-sm bg-body-tertiary p-2">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img src="./static/img/logos/logo_white.png" class="img-fluid" width="95" height="40">
            </a>
            <a class="navbar-brand fs-3 special_font" href="/">MyDrugs</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">Shop</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Cart</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled">FAQ</a>
                    </li>
                                        
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5 text-center">
        <h1 class="mb-3 text-center special_font">FAQ</h1>
        <hr>
        <h3 class="mb-5 mt-4 text-center special_font">Frequently Asked Questions</h3>

        <div class="accordion mb-5" id="accOne">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Is My Purshase Completely Secure Through Your Shop When I Make A Purchase?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accOne">
                    <div class="accordion-body description">
                        Yes. Just add the desired quantity to the cart and enter your address at the checkout. Your personal data is automatically <strong>encrypted</strong> using <strong>PGP</strong> and deleted after the order is dispatched. Our team of professionals then packs the goods in <strong>clean-room conditions</strong>, and ensures <strong>smooth</strong> and <strong>secure</strong> processing.
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mb-5" id="accTwo">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Is Your Product Safe?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accTwo">
                    <div class="accordion-body description">
                        <strong>Nobody</strong> has claimed that doing drugs was safe. However as long as you follow the <a href="#mdma" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                            How Can I Safely Partake In Mdma Consumption</a> section there should not be any issues. Do <strong>NOT</strong> take MDMA <strong>if you are also under any perscriptions or doing any other drugs</strong>. It is also recomended not to take MDMA with any sort of alcohol as it might cause irreversable damage to your immune system and overall health.
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mb-5" id="accThree">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        How Can I Receive My Order Anonymously?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accThree">
                    <div class="accordion-body description">
                        Our shipping department operates around the clock to ensure <strong>FAST</strong> and <strong>RISK-FREE</strong> shipping. The delivery ussually arrives within a <strong>few days</strong>. Your order can be sent to any valid <strong>Postal Address</strong>, <strong>PO Box</strong>, or <strong>Package Station</strong>. Thanks to our highly complex and decentralized system, the transfer to the logistics service provider is already <strong>anonymous</strong> and <strong>cannot be traced back</strong>.
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mb-5" id="accFour">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Can I Really Only Pay With Cryptocurrency?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accFour">
                    <div class="accordion-body description">
                        Yes. We only accept payments in <strong>Bitcoin</strong> and <strong>Ethereum</strong>. The payment procedure is not complicated. You just need to set up a <strong>suitable wallet</strong>. We do <strong>NOT</strong> offer Payback or other bonus systems. We weren't born yesterday.
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mb-5" id="accFive">
            <div class="accordion-item" id="mdma">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        How Can I Safely Partake In MDMA Consumption?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accFive">
                    <div class="accordion-body description">
                        When taking MDMA, it is recommended <strong>NOT</strong> to exceed a maximum dose of <strong>1.5 mg</strong> MDMA per kg bodyweight for <strong>MEN</strong> and <strong>1.3 mg</strong> MDMA per kg bodyweight for <strong>WOMEN</strong>. In general, a dose of <strong>120 mg should not</strong> be exceeded. After ingestion, be sure to <strong>hydrate</strong> sufficiently. Only obtain MDMA from <strong>trustworth sources</strong> (<strong>like us</strong>).
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>